@import "tailwindcss";

:root {
  --color-black-1: #000000;
}

.bg-custom-gradient {
  background-image: radial-gradient(
    circle,
    #703bf7a0 0%,
    #703bf700 45%,
    var(--color-black-1) 80%,
    var(--color-black-1) 100%
  );
}
.login-inputs::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.add-textArea::placeholder {
  color: #a9a9a9;
}
.login-Input-Wrapper {
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.login-inputs {
  border: none;
}
.add-Input-Wrapper {
  border: 2px solid rgb(129, 42, 191);
}
.masonry-column {
  padding-left: 16px; /* gap-4 = 16px */
  background-clip: padding-box;
}

.masonry-column:first-child {
  padding-left: 0;
}
