@import "tailwindcss";

:root {
  --color-black-1: #000000;
}

.bg-custom-gradient {
  background-image: radial-gradient(
    circle,
    #703bf7a0 0%,
    #703bf700 45%,
    var(--color-black-1) 80%,
    var(--color-black-1) 100%
  );
}
.login-inputs::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.add-textArea::placeholder {
  color: #a9a9a9;
}
.login-Input-Wrapper {
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.login-inputs {
  border: none;
}
.add-Input-Wrapper {
  border: 2px solid rgb(129, 42, 191);
}
.masonry-column {
  padding-left: 16px; /* gap-4 = 16px */
  background-clip: padding-box;
}

.masonry-column:first-child {
  padding-left: 0;
}
.movie-glow-text {
  animation: 3s linear infinite shine;
}
@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.highlighted-card {
  border: 2px solid rgb(250, 204, 21);
  box-shadow:
    0 0 30px rgba(99, 102, 241, 0.6),
    0 0 50px rgba(99, 102, 241, 0.9);
}
.google-signin-container {
  display: flex;
  justify-content: center;
}

.error-message {
  background-color: #fee;
  color: #c00;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}
